## <u> Assignment 16 - 17th Feb</u>

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License which is deemed non-free by several distributions.

Non-relational databases are also known as **NoSQL (Not only SQL)**. They do not use table-based relation database model. They uses key-value pair, document-oriented, or graph-based data model to store and organized the data. NoSQL are mostly used for handling large amount of data which are unstructured or semi-structured. They can be more flexible as well scalable in compare to traditional SQL databases such as MySQL, MS SQL, Oracle..

NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

MongoDB is the most popular of the new breed of non-relational NoSQL databases. Specifically, itâ€™s a document database, also called a document-oriented database or a document store.

- Documents hold semistructured data, usually represented in a format like JSON or XML, and each document is associated with a unique key.
- Key values are typically a path or a URI that can be used to retrieve the associated document from the database.
- The keys are indexed, making it efficient to retrieve the associated documents.

#### Q2. State and Explain the features of MongoDB.

Main features of MongoDB which make it unique are:

**High Performance**
Data operations on MongoDB are fast and easy because of their NoSQL nature. Data can be quickly stored, manipulated, and retrieved without any compromise on data integrity.

**Scalability**
In the Big Data era, MongoDB data can be distributed across a cluster of machines quickly and equally, free of bulkiness. The scalability of MongoDB handles a growing amount of data capably. Sharding is a process in MongoDB used to horizontally scale the data across multiple servers when the size of data increases.

**Availability**
Data is highly available with MongoDB as it makes multiple copies of the same data and sends copies of data across different servers. In case any server fails, data can be retrieved from another server without delay.

**Flexibility**
MongoDB can easily be combined with different Database Management Systems, both SQL and NoSQL types. Document-oriented structure makes MongoDB schema dynamically flexible and different types of data can be easily stored and manipulated.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\kanghan.info-matrix\appdata\local\programs\python\python38\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\kanghan.info-matrix\appdata\local\programs\python\python38\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://kishanSA:y7GrlFXTTcqJwE0m@cluster0.nrzxawm.mongodb.net/?retryWrites=true&w=majority")

In [3]:
client

MongoClient(host=['ac-qfb4djc-shard-00-01.nrzxawm.mongodb.net:27017', 'ac-qfb4djc-shard-00-00.nrzxawm.mongodb.net:27017', 'ac-qfb4djc-shard-00-02.nrzxawm.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hbc2wd-shard-0', tls=True)

In [4]:
# creating database
db = client["sample_db"]

In [5]:
# creating collection
tb_coll = db["my_collection"]

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
# inserting one record in collection
record1 = {'first':'Kishan', 
           'last': 'Anghan', 
           'sex': 'Male', 
           'email':'test@gamil.com'    
}

In [7]:
tb_coll.insert_one(record1)

In [8]:
# showing the inserted data/record using find_one
tb_coll.find_one()

{'_id': ObjectId('63f146bc082d2e0f807506fd'),
 'first': 'Kishan',
 'last': 'Anghan',
 'sex': 'Male',
 'email': 'test@gamil.com'}

In [9]:
# inserting multiple records in collection

records = [{'id':'1','def':'first10integer', 'output': [i for i in range(1,11)]},
           {'id':'2','def':'evens', 'output': [i for i in range(1,11) if i%2 == 0]},
           {'id':'3','def':'odds','output': [i for i in range(1,11) if i%2 != 0]}   
          ]

In [10]:
tb_coll.insert_many(records)

In [11]:
# showing the inserted data/record using find

for item in tb_coll.find():
    print(item)

{'_id': ObjectId('63f146bc082d2e0f807506fd'), 'first': 'Kishan', 'last': 'Anghan', 'sex': 'Male', 'email': 'test@gamil.com'}
{'_id': ObjectId('63f146c5082d2e0f807506fe'), 'id': '1', 'def': 'first10integer', 'output': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
{'_id': ObjectId('63f146c5082d2e0f807506ff'), 'id': '2', 'def': 'evens', 'output': [2, 4, 6, 8, 10]}
{'_id': ObjectId('63f146c5082d2e0f80750700'), 'id': '3', 'def': 'odds', 'output': [1, 3, 5, 7, 9]}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The **find()** method in MongoDB database is used to query and retrieve data from a collection. It allows you to search for data/documents in the collection which satisfied the specific condition.

The **find()** method takes an optional query object as an argument. This query object is nothing but the set of key-value pairs, where each key represents a field in the document and each value represents the value to search for in that field. 
It returns a cursor to the resulting documents, which can be iterated over to access the data

In [12]:
# let's find the records which we recently inserted in above cell

search_criteria = {'id':{'$lte':'2'}}

for item in tb_coll.find(search_criteria):
    print(item)

{'_id': ObjectId('63f146c5082d2e0f807506fe'), 'id': '1', 'def': 'first10integer', 'output': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
{'_id': ObjectId('63f146c5082d2e0f807506ff'), 'id': '2', 'def': 'evens', 'output': [2, 4, 6, 8, 10]}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

**The sort() method**
To sort documents in MongoDB, you need to use sort() method. The method accepts a document containing a list of fields along with their sorting order. To specify sorting order 1 and -1 are used. **1** is used for **ascending** order while **-1** is used for **descending** order.

- Syntax
The basic syntax of sort() method is:

>db.COLLECTION_NAME.find().sort({KEY:1})

In [13]:
res = tb_coll.find().sort('id', -1)

for item in res:
    print(item)

{'_id': ObjectId('63f146c5082d2e0f80750700'), 'id': '3', 'def': 'odds', 'output': [1, 3, 5, 7, 9]}
{'_id': ObjectId('63f146c5082d2e0f807506ff'), 'id': '2', 'def': 'evens', 'output': [2, 4, 6, 8, 10]}
{'_id': ObjectId('63f146c5082d2e0f807506fe'), 'id': '1', 'def': 'first10integer', 'output': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
{'_id': ObjectId('63f146bc082d2e0f807506fd'), 'first': 'Kishan', 'last': 'Anghan', 'sex': 'Male', 'email': 'test@gamil.com'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

- **delete_one():** This method deletes a single document from the collection that matches the filter condition.

- **delete_many():** This method deletes all documents from the collection that matches the conditon which is given in filter.

- **drop():** - This method removes/delete an entire collection from the database.

In [14]:
# display all documents in collection

def show_document():
    for item in tb_coll.find():
        print(item)

In [15]:
# first display how many items in our collection
show_document()

{'_id': ObjectId('63f146bc082d2e0f807506fd'), 'first': 'Kishan', 'last': 'Anghan', 'sex': 'Male', 'email': 'test@gamil.com'}
{'_id': ObjectId('63f146c5082d2e0f807506fe'), 'id': '1', 'def': 'first10integer', 'output': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
{'_id': ObjectId('63f146c5082d2e0f807506ff'), 'id': '2', 'def': 'evens', 'output': [2, 4, 6, 8, 10]}
{'_id': ObjectId('63f146c5082d2e0f80750700'), 'id': '3', 'def': 'odds', 'output': [1, 3, 5, 7, 9]}

In [16]:
# delete one record
tb_coll.delete_one({'sex':'Male'})

In [17]:
# display collection after delete one item
show_document()

{'_id': ObjectId('63f146c5082d2e0f807506fe'), 'id': '1', 'def': 'first10integer', 'output': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
{'_id': ObjectId('63f146c5082d2e0f807506ff'), 'id': '2', 'def': 'evens', 'output': [2, 4, 6, 8, 10]}
{'_id': ObjectId('63f146c5082d2e0f80750700'), 'id': '3', 'def': 'odds', 'output': [1, 3, 5, 7, 9]}

In [18]:
# delte many record
tb_coll.delete_many({'id': {'$gte':'2'}})

In [19]:
# display collection after delete many item
show_document()

{'_id': ObjectId('63f146c5082d2e0f807506fe'), 'id': '1', 'def': 'first10integer', 'output': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [20]:
# remove/drop collection
tb_coll.drop()

In [21]:
# display collection after delete many item
show_document()

In [22]:
client.close() # closing the MongoDB client connection